@import (inline) "../../../node_modules/normalize.css/normalize.css";
@import (inline) "../../../node_modules/basscss/css/basscss.css";
@import (inline) "../../../node_modules/basscss-btn/css/btn.css";
@import (inline) "../../../node_modules/basscss-btn-outline/css/btn-outline.css";
@import (inline) "../../../node_modules/prismjs/themes/prism.css";
@import (inline) "../../../node_modules/prism-treeview/prism-treeview.css";

@foreground: #738fa6;
@background: #fff0d5;
@hover: #466277;

@dark: #071013;
@brand: #FF331F;
@light: #fafaf8;
@keyline: #e0e0e0;

.code-box{
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(7, 16, 19, 0.58);
  border: 1px solid #0072c6;
  position: relative;
  padding-top:31px;
  &:before{
    content: "Terminal";
    font-size: 0.8rem;
    padding: 6px;
    position: absolute;
    width: ~"calc(100% - 12px)";
    height: 18px;
    left: 0;
    top: 0;
    background: url(../img/topbar.gif) top right no-repeat;
    border-bottom: 1px solid #d4d4d4;
  }
}

.mono{
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  padding: 10px;
  color: @keyline;
  background: #0D0106;

  span{
    color: @brand;
  }
}

body {
  font-family: Roboto, serif;
  color: @dark;
  background: @light;
  line-height: 1.3em;
}

a {
  color: @brand;
  &:hover {
    color: @dark;
  }
}

.btn{
  color: @brand;
}

table{
  border-collapse: collapse;

  thead tr th{
    padding: 4px 8px;
    border-bottom: 2px solid @keyline;
  }

  tbody{
    tr td{
      padding: 4px 8px;
    }
    tr:nth-child(even) td{
      background-color: @keyline;
    }
  }

}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  line-height: 1.3rem;
  hyphens: none;
  tab-size: 4;
  text-shadow: 0 1px #fff;
  text-align: left;
}

:not(pre)>code{
  background: #f0f2f1;
  color: @brand;
  padding: 1px 5px;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 0 1px 1px rgba(0,0,0,.325);
  vertical-align: middle;
}

pre[class*="language-treeview"]{
  line-height: 1rem;
}

code[class*="language-"], pre[class*="language-"] {
  color: #464646;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: #e4e4e4;
  border-radius: .3rem;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: transparent;
}

.token.regex, .token.important, .token.variable {
  color: #9c7e0c;
}

hr {
  height: 1px;
  background: @hover;
  border: none;
  margin: 2rem auto;
  width: 3rem;
}

.list-inline li {
  display: inline;
}

.notice{
  border: 1px solid @brand;
  border-left-width: 8px;
  background: #FFF;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);

  &.red{
    border-color: @brand;
  }
  &.blue{
    border-color: #2f5a8c;
  }
}

header.main {
  background: #FFF;
  border-top: 10px solid @brand;
  border-bottom: 1px solid @keyline;

  .code-container{
    height:200px;
  }

  .code-box{
    width: 500px;
  }

  .mono{
    font-size: 1rem;
  }

  .brand{
    text-align: center;
    width: 200px;
    padding: 1.6rem 0;
    h1{
      margin: 0;
    }
    a{
      text-decoration: none;
      font-weight: bold;
    }
    small{
      font-size: 60%;
      text-transform: uppercase;
    }
  }
}

footer.main{
  background: @dark;
  color: @keyline;

  a:hover{
    color: @keyline;
  }
}

nav.main {
  background: @foreground;
  color: @background;

  a {
    color: @background;
    text-decoration: none;
  }
}

article{
  line-height: 1.8rem;

  h1,h2,h3,h4,h5,h5{
    a{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -1.25em;
        height: 100%;
        width: 1em;
        background: no-repeat 50% 50% / contain;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNDA4IDI1NmgtMTAyNHYxMjQybDQyMy00MDYgODktODUgODkgODUgNDIzIDQwNnYtMTI0MnptMTItMTI4cTIzIDAgNDQgOSAzMyAxMyA1Mi41IDQxdDE5LjUgNjJ2MTI4OXEwIDM0LTE5LjUgNjJ0LTUyLjUgNDFxLTE5IDgtNDQgOC00OCAwLTgzLTMybC00NDEtNDI0LTQ0MSA0MjRxLTM2IDMzLTgzIDMzLTIzIDAtNDQtOS0zMy0xMy01Mi41LTQxdC0xOS41LTYydi0xMjg5cTAtMzQgMTkuNS02MnQ1Mi41LTQxcTIxLTkgNDQtOWgxMDQ4eiIvPjwvc3ZnPg==');
        opacity: .3;
        transition-duration: 200ms;
      }
      &:hover:before{
        opacity: 1;
      }
    }
  }

  h5{
    font-size: 1em;
  }
}

article h2 + ul {
  padding: 0;
  li {
    list-style: none;
    font-weight: bold;

    &:before {
      content: "# ";
      margin-right: .25em;
      color: @brand;
      opacity: .3;
    }

    &:hover:before {
      opacity: 1;
    }

    li {
      font-weight: normal;
    }

    a {
      text-decoration: none;
      color: @brand;
    }
  }
}

.nav {
  border-right: 1px solid #d5dee4;
  ul {
    padding: 0;
    margin-right: 2rem;

    ul {
      padding: 0;
    }
    li {
      list-style: none;
    }

    li {
      margin-bottom: 1rem;
      span {
        display: block;
        border-bottom: 1px dashed #ccc;
        margin-bottom: 1rem;
        padding-bottom: 0.4rem;
      }

      li {
        padding-left: 2rem;
        border: none;
      }
    }
  }
}